<main class=TodoPageMain>
    <h1 class='TodoPage-heading'>My To-do List</h1>
    <a href=todos_path>Show active records</a>
    <%=render partial:'todo-section',locals:{
      todos: Todo.all.order(:due_date),
      section_title: "All-Todos",
      show_duedate: true
    } %>

</main>
